## Libraries

In [3]:
import pandas as pd

## Load the dataframes

In [4]:
df_base = pd.read_pickle('df_base.pkl')
df_post_covid = pd.read_pickle('df_post_covid.pkl')

In [6]:
df_base.head(3)

,remaining_lease,months_since_base,log_resale_price,log_floor_area_sqm,flat_type_encoded,storey_range_encoded,town_BEDOK,town_BISHAN,town_BUKIT BATOK,town_BUKIT MERAH,...,flat_model_Multi Generation,flat_model_New Generation,flat_model_Premium Apartment,flat_model_Premium Apartment Loft,flat_model_Premium Maisonette,flat_model_Simplified,flat_model_Standard,flat_model_Terrace,flat_model_Type S1,flat_model_Type S2
0,73,0,12.429216,3.806662,2,4,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1,67,0,12.487485,3.784190,2,2,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,67,0,12.660328,4.219508,3,4,0.0,0.0,0.0,0.0,...,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [7]:
df_post_covid.head(3)

,remaining_lease,months_since_base,log_resale_price,log_floor_area_sqm,flat_type_encoded,storey_range_encoded,town_BEDOK,town_BISHAN,town_BUKIT BATOK,town_BUKIT MERAH,...,flat_model_Multi Generation,flat_model_New Generation,flat_model_Premium Apartment,flat_model_Premium Apartment Loft,flat_model_Premium Maisonette,flat_model_Simplified,flat_model_Standard,flat_model_Terrace,flat_model_Type S1,flat_model_Type S2
158624,60,97,12.513557,4.219508,3,1,0.0,0.0,0.0,0.0,...,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
158625,63,97,12.577636,4.204693,3,3,0.0,0.0,0.0,0.0,...,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
158626,58,97,12.337101,4.219508,3,1,0.0,0.0,0.0,0.0,...,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

## Split Train/Test 80/20
We do not do a random split since we want the model to predict future prices based on past data. Hence, train data will be earlier than test data.

In [8]:
# 1. Sort by time column
df_base_sorted = df_base.sort_values(by='months_since_base')
df_post_sorted = df_post_covid.sort_values(by='months_since_base')

# 2. Compute split indices
split_idx_base = int(len(df_base_sorted) * 0.8)
split_idx_post = int(len(df_post_sorted) * 0.8)

# 3. Split df_base into train/test
df_base_train = df_base_sorted.iloc[:split_idx_base]
df_base_test = df_base_sorted.iloc[split_idx_base:]

X_base_train = df_base_train.drop(columns=['log_resale_price'])
y_base_train = df_base_train['log_resale_price']
X_base_test = df_base_test.drop(columns=['log_resale_price'])
y_base_test = df_base_test['log_resale_price']

# 4. Split df_post_covid into train/test
df_post_train = df_post_sorted.iloc[:split_idx_post]
df_post_test = df_post_sorted.iloc[split_idx_post:]

X_post_train = df_post_train.drop(columns=['log_resale_price'])
y_post_train = df_post_train['log_resale_price']
X_post_test = df_post_test.drop(columns=['log_resale_price'])
y_post_test = df_post_test['log_resale_price']

## Save files

In [9]:
# 5. Save all 8 files
X_base_train.to_pickle("X_base_train.pkl")
X_base_test.to_pickle("X_base_test.pkl")
y_base_train.to_pickle("y_base_train.pkl")
y_base_test.to_pickle("y_base_test.pkl")

X_post_train.to_pickle("X_post_train.pkl")
X_post_test.to_pickle("X_post_test.pkl")
y_post_train.to_pickle("y_post_train.pkl")
y_post_test.to_pickle("y_post_test.pkl")